<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/8c75a932ab.js" crossorigin="anonymous"></script>
    <!--chart.jsとは、JavaScriptでグラフを描画するためのライブラリ(応用課題8b)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <p id="notice"><%= notice %></p>
        <div class="container">
          <div class="row justify-content-start mb-2">
            <!--ユーザー、本の検索フォーム表示(応用課題5)-->
            <div class="mr-3"><%= render 'searches/form' %></div>
            <!--タグの検索フォーム表示(応用課題9d)-->
            <div class="mr-3"><%= render "searches/tag_form" %></div>
          </div>
        </div>
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
